.header {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    box-shadow:0 0 5px  $main-color;

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: block;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: .2em;
        color: $main-color;

        &:hover {
            color: #4a5568;
            transition: .3s ease;
        }
    }

    &__contents {
        &--left {
            margin: 10px 30px;
        }

        &--right {
            margin-left: auto;
        }
    }

    &__authentication {
        display: flex;
    }

    &__auth-list{
        margin: 0 10px;
        color: $main-color;

        &:hover {
            color: #4a5568;
            transition: .3s ease;
        }
    }
}
