// TOP
.top {
    &__table {
        border-collapse: separate;
        margin-top: 100px;
        margin-left: 15%;
        width: 60%;
        border-spacing: 6px;
        text-align: center;
    }

    &__line {
        &--class {
            background-color: $main-color;
            text-align: center;
            padding: 15px 10px;
            border: 2px solid $main-color;
            color: #ffffff;
        }

        &--subject {
            border: 2px solid $main-color;
            background-color: #fff;
        }
    }

    &__subject-link {
        display: block;
        padding: 15px 12px;

        &:hover {
            background-color: $main-color;
            color: #ffffff;
            transition: .3s ease;
        }
    }
}
